$font: Arial, Helvetica, sans-serif;

$primary-color: #101010;

$primary-blue: #1C448E; 
$primary-blue-dark: #0d1f40; 

// $primary-cream-dark: #9d9d92;
// $primary-cream: #e3e3d5;
// $primary-cream-light: #f8f8ef;

$primary-cream-dark-1: #21211e;
$primary-cream-dark: #9d9d92;
$primary-cream: #ddddda;
$primary-cream-light: #f8f8ef;