// use variablies defined in _variables.scss
@use '_variables' as *;
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: $primary-blue;
    opacity: 0.8;
    background-image:  radial-gradient($primary-blue 0.5px, transparent 0.5px), radial-gradient($primary-cream 0.5px, $primary-blue 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    height: 100vh;
}

.topSection{
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;
    &__navbar{
        &--navLink{
            // font-size: 1rem;
            // padding: 0 .25rem;
            color: $primary-cream-light;
            font-size: .75rem;
            margin-top: 1.0rem;
            &:hover{
                color: red;
            };
            &:visited{
                color: $primary-cream-light
            };
            &:active{
                color: red;
            };


        }
    }
}

.midSection{
    margin-top: 7.5rem;
    &__loginContainer{
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;        
        &--form{
            border: .5px solid rgb($primary-cream-dark, 1);
            background-color: $primary-cream;
            width: 25%;
            max-width: 500px;
            padding: 5.5rem 1rem 4.5rem 1rem;
            border-radius: .5rem;
            box-shadow: .75rem .75rem 1.5rem rgb($primary-blue-dark, 1);
            position: relative;
            &__logo--img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                border: .5px solid rgb($primary-cream-dark, 1);
                background: rgb($primary-cream, 1) url('../images/login_icon.png');
                background-size: cover;
                background-position: center;
                position: absolute;
                top: -13%;
                left: 50%;
                transform: translate(-50%, -20%);
            }
            .flash{
                margin-top: .25rem;
                font-size: .75rem;
                font-weight: 700;
                color: red;
            }
            &__userNamedContainer{
                // padding: 1.5rem 0;
                margin: 0 2rem;
                .userNameLabel{
                    font-size: .75rem;
                    font-weight: 600;
                    color: rgb($primary-color, 1);
                    padding-left: .25rem;
                    text-transform: uppercase;
                }
                .userNameInput{
                    margin-top: .25rem;
                    width: 100%;
                    height: 2rem;
                    border: 1px solid rgb($primary-blue, .5); 
                    border-radius: .5rem;
                    background-color: $primary-cream-light;
                }
            }
            &__passwordContainer{
                margin: 0 2rem;
                padding: 1rem 0;
                .passwordLabel{
                    font-size: .75rem;
                    font-weight: 600;
                    color: rgb($primary-color, 1);
                    padding-left: .25rem;
                    text-transform: uppercase;
                }
                .passwordInput{
                    margin-top: .25rem;
                    width: 100%;
                    height: 2rem;
                    border: 1px solid rgb($primary-blue, .5); 
                    border-radius: .5rem;
                    background-color: $primary-cream-light;
                }
            }
            &__buttonContainer{
                display: flex;
                justify-content: center;
                .button{
                    font-weight: 800;
                    margin-top: .5rem;
                    padding: .5rem 2.5rem;
                    border-radius: .5rem;
                    border: 1px solid rgb($primary-cream-dark, 1);
                    box-shadow: .1rem .1rem .25rem;
                    &:hover{
                        background-color: rgb($primary-cream-light, 1);
                    }
                    &:active{
                        transform: translate(.1rem, .1rem);
                        box-shadow: .1rem .1rem .05rem;
                    }
                }
            }
            &__RegisterLinkContainer{
                display: flex;
                justify-content: center;
                .registerLink{
                    font-size: .75rem;
                    margin-top: 1.0rem;
                    &:hover{
                        color: red;
                    };
                    &:visited{
                        color: rgb($primary-blue-dark, 1);
                    };
                    &:active{
                        color: red;
                    };
                }
            }
        }
    }
}


.bottomSection{
    font-size: .5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}