*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  background-color: #1C448E;
  opacity: 0.8;
  background-image: radial-gradient(#1C448E 0.5px, transparent 0.5px), radial-gradient(#ddddda 0.5px, #1C448E 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: end;
}
.navbar__navLink {
  padding: 0.5rem;
}

.topSection {
  margin: 0 0 5rem 0;
}

.midSection {
  margin-top: 7.5rem;
}
.midSection .registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midSection .registerContainer .form {
  border: 1px solid #9d9d92;
  background-color: #ddddda;
  width: 25%;
  max-width: 500px;
  padding: 5.5rem 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.75rem 0.75rem 1.5rem #0d1f40;
  position: relative;
}
.midSection .registerContainer .form__topDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #444cf7;
}
.midSection .registerContainer .form__img {
  border: 1px solid #9d9d92;
  position: absolute;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #ddddda url("../images/register_icon.png");
  background-size: cover;
  background-position: center;
  top: -15%;
  left: 50%;
  border-radius: 50%;
}
.midSection .registerContainer .form__userNameContainer {
  margin: 0.75rem 0rem;
}
.midSection .registerContainer .form__userNameContainer .userNameLabel {
  display: block;
}
.midSection .registerContainer .form__userNameContainer .userNameInput {
  margin-top: 0.25rem;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(68, 76, 247, 0.5);
  border-radius: 0.25rem;
  background-color: #F5F5F5;
}
.midSection .registerContainer .form__firstNameContainer {
  margin: 0.75rem 0rem;
}
.midSection .registerContainer .form__firstNameContainer .firstNameLabel {
  display: block;
}
.midSection .registerContainer .form__firstNameContainer .firstNameInput {
  margin-top: 0.25rem;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(68, 76, 247, 0.5);
  border-radius: 0.25rem;
  background-color: #F5F5F5;
}
.midSection .registerContainer .form__lastNameContainer {
  margin: 0.75rem 0rem;
}
.midSection .registerContainer .form__lastNameContainer .lastNameLabel {
  display: block;
}
.midSection .registerContainer .form__lastNameContainer .lastNameInput {
  margin-top: 0.25rem;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(68, 76, 247, 0.5);
  border-radius: 0.25rem;
  background-color: #F5F5F5;
}
.midSection .registerContainer .form__passwordContainer {
  margin: 0.75rem 0rem;
}
.midSection .registerContainer .form__passwordContainer .passwordLabel {
  display: block;
}
.midSection .registerContainer .form__passwordContainer .passwordInput {
  margin-top: 0.25rem;
  width: 100%;
  height: 2rem;
  border: 1px solid rgba(68, 76, 247, 0.5);
  border-radius: 0.25rem;
  background-color: #F5F5F5;
}
.midSection .registerContainer .form__buttonContainer {
  display: flex;
  justify-content: center;
}
.midSection .registerContainer .form__buttonContainer .button {
  font-weight: 800;
  margin-top: 0.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #9d9d92;
  box-shadow: 0.1rem 0.1rem 0.25rem;
}
.midSection .registerContainer .form__buttonContainer .button:hover {
  background-color: #f8f8ef;
}
.midSection .registerContainer .form__buttonContainer .button:active {
  transform: translate(0.1rem, 0.1rem);
  box-shadow: 0.1rem 0.1rem 0.05rem;
}

.bottomSection {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=output_register.css.map */
